name: Build & Publish

on:
  push:
    tags: [ 'v*.*.*' ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # ---------- Front‑end ----------
      - uses: actions/setup-node@v4
        with: { node-version: '20' }

      - name: npm install & build
        working-directory: st_time_entry/frontend
        run: |
          npm ci
          npm run build

      # ---------- Back‑end ----------
      - uses: actions/setup-python@v5
        with: { python-version: '3.10' }

      - name: Build dists
        run: |
          python -m pip install --upgrade build
          python -m build

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
        # env: